* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    width: 100vw;
    height: 100vh;

}

.text {
    margin: 12px;
    margin-top: 25px;
}

img {
    width: 596px;
}

.text>h1 {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    color: #333333;
    font-size: clamp(2.375rem, 1.4361rem + 4.0062vw, 4rem);
    width: 666px;
    height: 190px;
    margin-bottom: 2rem;
}

.text>p {
    font-family: 'Space Mono', monospace;
    color: #4F4F4F;
    font-size: 24px;
    width: 381px;
}

button {
    width: 216px;
    height: 68px;
    font-family: 'Space Mono', monospace;
    color: #fff;
    border: none;
    background-color: #333333;
    margin-top: 3rem;
}

h3 {
    position: absolute;
    width: 250px;
    height: 25px;
    left: 77px;
    top: 40px;
    font-family: 'Inconsolata', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}
@media screen and (max-width:425px){

    .wrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        width: 100vw;
        height: 100vh;
    
    }
    
    .text {
        margin: 12px;
        margin-top: 25px;
    }
    
    img {
        width: 296px;
    }
    
    .text>h1 {
        font-family: 'Space Mono', monospace;
        font-weight: 700;
        color: #333333;
        font-size: clamp(2.175rem, 1.4rem + 3.16vw, 3rem);
        width: 25rem;
        padding-top: 4rem;
    }
    
    .text>p {
        font-family: 'Space Mono', monospace;
        color: #4F4F4F;
        font-size: 24px;
        width: 381px;
    }
    
    button {
        width: 216px;
        height: 68px;
        font-family: 'Space Mono', monospace;
        color: #fff;
        border: none;
        background-color: #333333;
        margin-top: 3rem;
    }
    
    h3 {
        position: absolute;
        width: 250px;
        left: 18px;
        top: 10px;
        font-family: 'Inconsolata', monospace;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
    }
}
@media screen and (min-width:426px) and (max-width:786px){

    .wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        width: 100vw;
       
    }
    
    .text {
        margin: 12px;
        margin-top: 25px;
    }
    
    img {
        width: 296px;
    }
    
    .text>h1 {
        font-family: 'Space Mono', monospace;
        font-weight: 700;
        color: #333333;
        font-size: clamp(2.175rem, 1.4rem + 3.16vw, 3rem);
        width: 400px;
        padding-top: 4rem;
    }
    
    .text>p {
        font-family: 'Space Mono', monospace;
        color: #4F4F4F;
        font-size: 24px;
        width: 381px;
    }
    
    button {
        width: 216px;
        height: 68px;
        font-family: 'Space Mono', monospace;
        color: #fff;
        border: none;
        background-color: #333333;
        margin-top: 3rem;
    }
    
    h3 {
        position: absolute;
        width: 250px;
        left: 18px;
        top: 10px;
        font-family: 'Inconsolata', monospace;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
    }
}
@media screen and (min-width:787px) and (min-width:1024px){

    .wrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
        width: 100vw;
        gap: 2rems;
       
    }
    
    .text {
        margin: 12px;
        margin-top: 5px;
    }
    
    img {
        width: 500px;
        padding-left: 2rem;
    }
    
    .text>h1 {
        font-family: 'Space Mono', monospace;
        font-weight: 700;
        color: #333333;
        font-size: clamp(2.175rem, 1.4rem + 3.16vw, 3rem);
        width: 80%;
        height: auto;
        padding-top: 4rem;
    }
    
    .text>p {
        font-family: 'Space Mono', monospace;
        color: #4F4F4F;
        font-size: 24px;
        width: 381px;
    }
    
    button {
        width: 216px;
        height: 68px;
        font-family: 'Space Mono', monospace;
        color: #fff;
        border: none;
        background-color: #333333;
        margin-top: 3rem;
    }
    
    h3 {
        position: absolute;
        width: 250px;
        left: 18px;
        top: 10px;
        font-family: 'Inconsolata', monospace;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
    }
}

@media screen and (min-width:1440px){

    .wrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
        width: 100vw;
        gap: 16rem;
       
    }
    
    .text {
        margin: 12px;
        margin-top: 5px;
    }
    
    img {
        width: 45rem;
        padding-left: 2rem;
    }
    
    .text>h1 {
        font-family: 'Space Mono', monospace;
        font-weight: 700;
        color: #333333;
        font-size: clamp(2.75rem, 1.4rem + 3.16vw, 4rem);
        width: 80%;
        height: auto;
        padding-top: 4rem;
    }
    
    .text>p {
        font-family: 'Space Mono', monospace;
        color: #4F4F4F;
        font-size: 24px;
        width: 381px;
    }
    
    button {
        width: 216px;
        height: 68px;
        font-family: 'Space Mono', monospace;
        color: #fff;
        border: none;
        background-color: #333333;
        margin-top: 3rem;
    }
    
    h3 {
        position: absolute;
        width: 250px;
        left: 18px;
        top: 10px;
        font-family: 'Inconsolata', monospace;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
    }
}